fastapi
uvicorn[standard]
sqlmodel
psycopg[binary]
alembic
pydantic>=2.6.0
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
pytest
pytest-cov
pytest-asyncio
python-multipart
email-validator
httpx
aiofiles
openpyxl 